@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  /* Colors */
  --primary: #9944FF;
  --secondary: #BDA4FF;
  --accent: #7152c6;
  --background: #1e1e1e;
  --grey: #161616;
  --text: #ffffff;

/* Sizing */
  --heading-large: 34px;
  --heading-small: 25px;
  --paragraph: 20px;
  --secondary-text:18px;
  --corner:10px;
  --border-radius:10px;
}

/* Text */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1e1e1e;
  color:var(--text);
  position:relative; /*for other elements to be sticky*/
}

h1, li{
  font-size: var(--heading-large);
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: var(--heading-large);
  font-weight: 500;
}

h3 {
  font-size: var(--heading-small);
  font-weight: 700;
  letter-spacing: -0.5px;
}

h4 {
  font-size: var(--secondary-text);
  font-weight: 300;
}

p {
  font-size: var(--paragraph);
  font-weight: 400;
}


/* Clickable elements and active states */


a {
  color:white;
  transition: color 150ms;
}
a:hover{
  color: var(--primary);
}

/* Default button styles */

.btn-primary {
  background-color: var(--primary);
  border:none;
  color:var(--text);
  font-size:40px;
  font-weight: 700;
  padding:20px;
  border-radius:var(--border-radius);
  cursor: pointer;
  letter-spacing: 2px;
}

.btn-secondary {
  background-color: inherit;
  border: 5px solid var(--secondary);
  color:var(--secondary);
  background-color: var(--grey);
  font-size:40px;
  font-weight: 500;
  padding:15px;
  border-radius:var(--border-radius);
  cursor: pointer;
  letter-spacing: 2px;
}

/* Additional */

.horizontally-centered {
  transform: translateX(-50%);
  left:50%;
  position: absolute;
}

/* Temp or testing */

img:not(#hero-img) {
  max-width:100%;
}
body{
  margin-bottom:1000px
}