@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  /* Colors */
  --primary: #9944FF;
  --secondary: #BDA4FF;
  --accent: #25EF8A;
  --background: #1e1e1e;
  --grey: #161616;
  --text: #ffffff;

/* Sizing */
  --heading-large: 34px;
  --heading-small: 25px;
  --paragraph: 20px;
  --secondary:18px;
  --corner:10px;
  --border-radius:10px;
}

/* Text */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1e1e1e;
  color:var(--text);
  position:relative; /*for other elements to be sticky*/
}

h1, li{
  font-size: var(--heading-large);
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: var(--heading-large);
  font-weight: 500;
}

h3 {
  font-size: var(--heading-small);
  font-weight: 700;
  letter-spacing: -0.5px;
}

h4 {
  font-size: var(--secondary);
  font-weight: 300;
}

p {
  font-size: var(--paragraph);
  font-weight: 400;
}

/* Clickable elements and active states */
a {
  color:white;
  transition: color 150ms;
}
a:hover{
  color: var(--primary);
}

/* Additional */
img{
  max-width:100%;
}
body {
  margin-bottom: 1000px
}