header {
  width:100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:5px 15px;
  align-items: center;
  position: fixed;
  background-color: var(--grey);
  z-index: 1000;
  user-select: none;
  left:0;
  top:0;
}

.top-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap:25px;
  margin-right:10px;
  align-items: center;
}

.logo {
  aspect-ratio: 1/1;
  width:70px;
}

#ip {
  cursor:pointer;
  user-select:all;
  padding:5px 20px;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  letter-spacing: 0.6px;
}
@media screen and (width < 550px) {
  header {
    padding: 5px; 
  }
  a {
    font-size: var(--heading-small);
  }
  .top-nav ul {
    gap:10px;
  }
}
/* Tablet */
@media screen and (width < 850px) {
  #ip {
    display:none;
  }
}
