.hero {
  position: relative;
}

#hero-logo {
  position: absolute;
  top:10vh;
  width: 80%;
}

#hero-img {
  height: 94vh; /*100vh - top nav height, probably not a good solution but cant think of anything better*/
  width: 100%;
  object-fit: cover;
}

#hero-btn-1 {
  transition: box-shadow 400ms, transform 250ms, filter 150ms;
  bottom:33vh;
  width: 50%;
}
#hero-btn-1:hover {
  transform: translateX(-50%) translateY(-10%);
  filter: saturate(120%);
  box-shadow: 2px 30px 25px -18px var(--primary);
}
#hero-btn-1:active {
  filter:saturate(160%);
}


#hero-btn-2 {
  bottom:20vh;
  width: 50%;
  transition: box-shadow 300ms, filter 150ms;
}
#hero-btn-2:hover{
  box-shadow: 2px 20px 15px -15px var(--secondary);
  filter:brightness(110%);
}
#hero-btn-2:active {
  filter:brightness(130%);
}

.statistics {
  width:calc(100% - 40px);
  padding:30px;
  display:flex;
  justify-content: space-between;
  background-color: var(--grey);
  margin:20px;
  border-radius: var(--border-radius);
}
.stat {
  display:flex;
  flex-direction: row;
  width:50%;
  gap:20px;
}