.hero {
  position: relative;
}

#hero-logo {
  position: absolute;
  top:10vh;
  width: 80%;
}

#hero-img {
  height: 94vh; /*100vh - top nav height, probably not a good solution but cant think of anything better*/
  width: 100%;
  min-height: 600px;
  object-fit: cover;
}
#btn-container {
  width: 50%;
  bottom:30vh;
}
@media screen and (height < 800px) {
  #btn-container {
    bottom:190px;
  }
  #hero-btn-1 {
    margin-bottom:40px;
  }
}
#hero-btn-1 {
  width:100%;
  margin-bottom:5vh;
}
#hero-btn-2 {
  width: 100%;
}

.statistics {
  width:calc(100% - var(--default-margin) * 2);
  padding:30px;
  display:flex;
  justify-content: space-between;
  background-color: var(--grey);
  margin:20px;
  border-radius: var(--border-radius);
}
.stat {
  display:flex;
  flex-direction: row;
  width:50%;
  gap:20px;
}