body {
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}
@media screen and (width < 1000px) {
  li {
    display: none;
  }
  #overlay-button {
    display:grid !important;
  }
}


@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
#btn-click-area{
  width:50px;
  height: 50px;
  /* left:-10px; */
  /* background-color: red; */
  position: relative;
  display:grid;
  place-items: center;
}
#overlay-button {
  cursor: pointer;
  position:relative;
  user-select: none;
  display:none;
  span {
      height: 5px;
      width: 50px;
      border-radius: 2px;
      background-color: white;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -15px;
        visibility: visible;
      }
      &:after {
        top: 15px;
      }
      &:before, &:after {
          height: 5px;
          width: 50px;
          border-radius: 2px;
          background-color: var(--text);
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
      
    }
}

input[type=checkbox] {
  display: none;
  
  &:checked ~ #overlay::after {
    visibility: visible;
    content:"Joe Biden";

  }
  
  &:checked ~ #overlay-button {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(12px, 10px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(11px, -10px);
      }
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #ec6451;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #333332;
        }
      }
    }
  }
}
/* 
Made by Daniel Hearn on CodePen

- https://codepen.io/danhearn/pen/XprGrJ
*/