#cta-grid {
  grid-template-columns: 1fr 1fr;
  display:grid;
  width:100%;
  gap:20px;
}
@media screen and (width < 850px) {
  #cta-grid {
    grid-template-columns: 1fr;
  }
}

a .cta.cta {
  color:white;
}

.call-to-action {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--primary);
  padding:var(--default-margin);
  /* border-radius: var(--border-radius); */
  gap:30px;
  width:94%;
  margin: 0 auto 30px auto;
  height:100%;

  .text {
    margin-right:20px;
  }
}
.cta-p {
  font-family: var(--font);
  font-weight: 500;
  letter-spacing: 0;
}
.img-cta {
  width: 100%;
  align-self: center;
  padding: 0;
}

#increase-padding {
  margin: 20px 0;
}
