button, a{
  cursor:pointer;
  text-decoration: none;
}
button{
  transition: opacity 0.2s;
}
button:hover{
  opacity: 0.7;
}
a{
  transition: color 0.15s;
  color:inherit
}
a:hover:not(.cta):not(.ip-adress){
  color:var(--main-purple);
}
.ip-adress:hover{
  /* opacity:0.8; */
}
.ip-adress{
  /* transition: opacity 0.15s; */
  user-select: all;
  cursor:text;
}
/* a:active:not(.cta){
  color:var(--main-purple);
} */
hr{
  width:95%;
  margin: 2rem auto 0 auto;
}
a:hover:is(.cta){
  opacity: 0.8;
}