.call-to-action{
  width:90%;
  border-radius: 1.5rem;
  padding:1rem 0 1rem 0;
  margin: 2rem auto 2rem auto;
  display: grid;
  cursor:pointer;
}
.call-to-action h2 {
  font-size: 2rem;
}
.call-to-action p {
  font-size: 1.3rem;
}
.call-to-action img {
  display: grid;
  margin: 0 auto;
  width:65%;
  align-self: center;
}
#discord{
  background-color: var(--discord-brand-color);
  grid-template-columns: 1fr 30%;
  padding-left:2rem;
}
#store{
  background-color: #FF368B;
  grid-template-columns: 30% 1fr;
  padding-right:2rem;
  text-align:end;
}
