footer{
  display:grid;
  grid-template-columns: 7% 1fr;
  width:95%;
  margin: 0 auto;
  background-color:var(--main-purple);
  padding:0.5rem;
  border-radius: 1.5rem;
  gap:0.5rem;

}
footer img {
  width:100%;
  align-self: center;
}
footer h1 {
  font-size: 1.3rem;
  text-align: middle;
  place-self: center;
}
