
*{
  margin:0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif; */
}
:root{
  --main-purple: #9944FF;
  --secondary-purple: #BDA4FF;
  --bg-color: #000000;
  --neutral-white: #FFFFFF;
  --discord-brand-color: #5865F2;
}
html{
  width:100%;
  min-height:100vh;
}
body{
  padding:1rem;
  width:100%;
  background-color: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  color:white;
  max-width: 1500px;
  margin:auto;
  border:3px red solid;
}