.navbar{
  display:grid;
  margin:1rem 1rem 4rem 1rem;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.navbar li:first-child {
  display:none;
}
.navbar li {
  float:left;
  margin-top:0.5rem;
  margin-right:1.5rem;
  text-transform:uppercase;
  font-size: 2rem;
  font-weight: 700;
  display:grid;
  align-self:center
}
.navbar li:last-child{
  float:right;
  margin:0 0 2rem 0;
}
.ip-adress{
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--main-purple);
  border-radius: 0.6rem;
  padding:0.5rem 1rem 0.5rem 1rem;
  border:none;
  color:white;
  letter-spacing: 0.5px;
  text-transform: none;
  text-align:center;
}
.navbar li:first-child span {
  font-size: 3rem;
  margin:0;
}
@media screen and (width < 1000px) {
  .navbar a:first-child:hover {
    color:white;
  }
  .navbar a:last-child:hover {
    color:white;
  }
  .navbar{
    margin-bottom: 0;
  }
  .ip-adress{
    margin-top:1rem;
    font-size:1.5rem;
    max-width: 25ch;
  }
  .navbar li:first-child  {
    display:grid;
    margin:0;
    padding:0;
  }
  .navbar li:not(:first-child){
    display:none;
    font-size: 1.5rem;
    margin-left:0.5rem;
  }
  .reactive li:first-child {
    display:block;
  }
  .reactive {
    left:0px;
    background-color:var(--bg-color);
    opacity: 0.9;
  }
  .reactive li {
    display:block;
    float:none;
    padding-bottom:0.5rem;
    display:grid !important;
  }
  .reactive li:last-child{
    float:none;
  }
}







/* .ip-adress{
  
} */