@media(width > 1100px){
  .social-media{
    width:50%;
  }
  .gallery-title{
    font-size: 3.5rem;
  }
  .gallery-item h3 {
    font-size: 2.5rem;
  }
  .gallery-item p {
    font-size: 1.3rem;
  }
  .social-media-btn-img{
    height:6rem;
  }
  .call-to-action-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  footer h1 {
    font-size: 2rem;
  }
}
@media(width < 700px) {
  .logo-big{
    min-width:40%;
  }
  body{
    padding: 1rem 0;
  }
  .hero{
    overflow: hidden;
  }
  .watch-trailer-btn{
    font-size: 5vw;
    padding:0.5rem 1rem;
    letter-spacing: 1px;
    border-radius:0.5rem;
    margin-top:1rem;
  }
  .hero-text{
    text-align:middle;
    font-size:2rem;
  }
  .hero-text{
    font-size:1.3rem;
    width:90%;
  }
  .social-media {
    width:90% !important;
  }
  .gallery-title{
    margin-top:0.5rem;
    font-size: 2rem;
  }
  .gallery{
    grid-template-columns: 1fr;
  }
  .call-to-action{
    padding:1rem !important;
    grid-template-columns: 1fr !important;
  }
  #discord, #store{
    text-align: center;
  }
  #discord img {
    grid-row: -1;
  }
  .call-to-action img {
    margin:1rem auto;
    width:40%;
  }
  .call-to-action h2 {
    font-size:2rem;
    padding-bottom:0.5rem;
  }
  .call-to-action p {
    font-size:1rem
  }
  footer{
    grid-template-columns: 15% 1fr;
    padding:0.3rem;
    justify-items: center;
  }
  footer > h1 {
    font-size:.9rem;
    font-weight: 400;
  }
}
